body {
background-color:#ccc;
}

#title {
  text-align: center;
  background-color: #aaa;
  padding-bottom: 1px;
}

#img-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #aaa;
}
#image { 
  padding-bottom: 15px;
}

img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}
#tribute-info > h2 {
  text-align: center;
}

#tribute-link {
  text-align: center;
}
